<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Recipes</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>My Recipes</h1>
  <% if (recipes.length > 0) { %>
    <ul>
      <% recipes.forEach((recipe) => { %>
      <li>
        <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>">
          <%= recipe.title %> - <%= recipe.category %>
        </a>
      </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You havent log any recipes</p>
  <% } %>
</body>
</html>